Twitter Streaming/credentials.py
Resturant Chatbot

Semantic Search/sampledata
Semantic Search/Similarity/Drafts
*.csv
*.DS_Store
Swahili NER/Tag Tool/swahili_2.txt
Swahili NER/Tag Tool/Credentials/ner-tag-tool-firebase-adminsdk-8as43-e118b9010b.json
Swahili NER/Tag Tool/credentials.json
